@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Архів Бібліотеки</title>
</head>
<body>
    <div>
        <h3>Керування архівом бібліотеки</h3>
        <p><a href="/Book/Add/">Додати книгу</a></p>
        <p><a href="/Book/Remove/">Видалити книгу</a></p>
        <p><a href="/Book/List/">Список книг</a></p>

    </div>
</body>
</html>