@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Видалення книги</title>
</head>
<body>
    <div>
        <h3>Форма додавання книги</h3>
        <form method="post" action="">

            <table>

                <tr>
                    <td><p>Введіть ID книги</p></td>
                    <td><input type="number" name="id" /> </td>
                </tr>

                <tr><td><input type="submit" value="Видалити" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>